/*Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gnerics */
a {
  text-decoration: none;
  color: #fff;
}

.cl-black a {
  color: black;
}

body {
  font-family: Ggsans, sans-serif;
}

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: 600;
  color: #fff;
}

/* buttons */
button {
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* navbar */
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background-color: rgb(37, 94, 233);
}

.navbar-link {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navbar-login {
  text-align: center;
  border: 2px solid #fff;
  width: 70px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  padding: 3px;
}

/* hello */

.hello-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
}

header .hello-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello-text {
  align-items: center;
  text-align: center;
}

.hello-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hello-text h1 {
  padding: 30px;
  font-size: 45px;
}

.hello-text p {
  font-size: 18px;
  padding-bottom: 50px;
}

/* boxe */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.wrapper-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 200px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}

.r-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  min-height: 800px;
}

.box-txt {
  flex: 5;
}

.box-txt h1 {
  padding-bottom: 40px;
}

.box-txt p {
  padding-bottom: 40px;
}

.r-box p {
  font-size: 13px;
}

/* items */

.item-1 {
  background-image: url("../img/item1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  flex: 7;
}

.item-2 {
  background-image: url("../img/item2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  flex: 7;
}

.item-3 {
  background-image: url("../img/item3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  flex: 7;
}

.item-4 {
  background-image: url("../img/item4-big.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  flex: 7;
}

.logo-stars {
  background-image: url("../img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  flex: 1;
}

.logo-stars h2 {
  margin-top: 30px;
}

/* flex */
.flex-1 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}

/* bg-color */
.bg-blue {
  background-color: rgb(0, 0, 139);
}

.bg-pink {
  background-color: rgb(238, 130, 238);
}

.bg-rosa-scuro {
  background-color: rgb(255, 192, 203);
}

.bg-rosa-medio {
  background-color: rgb(240, 128, 128);
}

.bg-celeste {
  background-color: rgb(32, 178, 170);
}

.bg-azzurro {
  background-color: rgb(30, 144, 255);
}

.bg-grey {
  background-color: rgb(211, 211, 211);
}

.bg-green {
  background-color: rgb(34, 139, 34);
}

.bg-black {
  background-color: rgb(35, 39, 42);
}

.bg-black-dark {
  background-color: rgb(0, 0, 0);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-celeste-chiaro {
  background-color: rgb(127, 255, 212);
}

.cl-white {
  color: #fff;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  min-height: 100px;
}

button.registrati {
  margin-top: 15px;
  font-size: 15px;
}
