/*Reset CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gnerics */
a {
  text-decoration: none;
  color: #fff;
}

.cl-black a {
  color: black;
}

body {
  font-family: Ggsans, sans-serif;
}

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: 600;
  color: #fff;
}

/* buttons */
button {
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
}

/* navbar */
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background-color: rgb(37, 94, 233);
}

.navbar-link {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navbar-login {
  text-align: center;
  border: 2px solid #fff;
  width: 70px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  padding: 3px;
}

/* hello */
.hello-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 490px;
}

.hello-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* alla fine eliminare width ed height */
  width: 50%;
  height: 80%;
}

.hello-text {
  align-items: center;
  text-align: center;
}

.hello-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hello-text h1 {
  padding: 30px;
  font-size: 45px;
}

.hello-text p {
  font-size: 18px;
  padding-bottom: 50px;
}

.hello-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed black 2px;
  width: 50%;
  height: 95%;
  margin: 0 0 20px 0;
}

.hello-wrapper.double {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid gray 2px;
  width: 100%;
  height: 1000px;
}

.hello-box .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.hello-box-2 .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.brd-white {
  border: dashed white 2px;
}

.brd-black {
  border: dashed black 2px;
}

/* flex */
.flex-5 {
  flex: 5;
}

.flex-7 {
  flex: 7;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

/* bg-color */
.bg-blue {
  background-color: rgb(0, 0, 139);
}

.bg-pink {
  background-color: rgb(238, 130, 238);
}

.bg-rosa-scuro {
  background-color: rgb(255, 192, 203);
}

.bg-rosa-medio {
  background-color: rgb(240, 128, 128);
}

.bg-celeste {
  background-color: rgb(32, 178, 170);
}

.bg-azzurro {
  background-color: rgb(30, 144, 255);
}

.bg-grey {
  background-color: rgb(211, 211, 211);
}

.bg-green {
  background-color: rgb(34, 139, 34);
}

.bg-black {
  background-color: rgb(35, 39, 42);
}

.bg-black-dark {
  background-color: rgb(0, 0, 0);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-celeste-chiaro {
  background-color: rgb(127, 255, 212);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 10px 0 10px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-height: 50px;
}

.logo {
  border: dashed black 2px;
  background-color: pink;
}

.bottone {
  border: dashed black 2px;
  background-color: pink;
}

.cl-white {
  color: #fff;
}
